@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  overflow: hidden;
  height: 100%;
}

.VerticalandHorizontal {
  position: absolute;
  top: 42%;
  left: 50%;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.effect-enter {
  opacity: 0.04;
}

.effect-enter.effect-enter-active {
  opacity: 5;
  transition: opacity 50s ease-in;
}

.effect-leave {
  opacity: 1;
}

.effect-leave.effect-leave-active {
  opacity: 0.04;
  transition: opacity 50s ease-in;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  background-color: #fff;
  color: black;
  z-index: 1;
  overflow: hidden;
}

.body {
  position: absolute;
  top: 10vh;
  left: 0;
  width: 100%;
  height: 82%;
  background-color: #f2f2f2;
  color: black;
  z-index: 1;
  overflow: hidden;
}

.feedHeader{
  height: 14%;
}

.feedBody{
  height: 80%;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 8%;
  background-color: #f2f2f2;
  z-index: 1;
  overflow: hidden;
}

.roundButton {
  border-radius: 50px;
  color: #fff;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-width: 2px;
  background-color: #b13e64;
  font-size: 1.5rem;
}
.roundButton:hover {
  background: #b13e6477;
}

.roundButton:disabled {
  background-color: #b13e6477;
}